PORT =
DB_HOST = localhost
DB_PORT = 5432
DB_NAME = Your_database_name
DB_USER = Your_postgres_user
DB_PASSWORD = Your_postgres_password
JWT_SECRET= YOUR_JWT_KEY_HERE

DB_NAME_TEST = your_test_database_name